<div class="row">
  <div class="one-third column">
    <p>
      <%= "Logged as #{session[:user]} | " %><a href="/logout">Logout</a>
    </p>
  </div>
  <div class="two-thirds column">
    <h2><%= "Open Pull Requests" %></h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <% @orgs_pulls.each do |org, pulls| %>
      <h3><%= "#{org}" %></h3>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>
              <span class="icon merge" title="merge?"></span>
              <span class="icon review" title="review?"></span>
              <span class="icon comment" title="comments?"></span>
            </th>
            <th>
              <span>Name</span>
            </th>
            <th>Repo</th>
            <th>Author</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>
          <% pulls.each do |pull| %>
            <tr>
              <td>
                <div>
                  <%#= icon_merge(pull[:head][:repo][:full_name], pull[:number]) %>
                  <%#=  icon_review(pull[:head][:repo][:full_name], pull[:number]) %>
                  <%#=  icon_comment(pull[:head][:repo][:full_name], pull[:number]) %>
                  <span class="icon alpha merge ready" title="merge?">
                  </span>
                  <span class="icon alpha review pending" title="review?">
                  </span>
                  <span class="icon alpha comment ready" title="comments?">
                  </span>
                </div>
              </td>
              <td>
                <a href="<%= pull[:html_url] %>">
                  <%= pull[:title] %>
                </a>
              </td>
              <td>
                <a href="<%= pull[:head][:repo][:html_url] %>">
                  <%= pull[:head][:repo][:full_name] %>
                </a>
              </td>
              <td>
                <a href="<%= pull[:user][:html_url] %>">
                  <%= pull[:user][:login] %>
                </a>
              </td>
              <td><%= pull[:updated_at].strftime('%d %B %Y') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
