<% orgs = @client.orgs %>

<div class="row">
  <div class="one-third column">
    <p>
      <%= "Logged as #{session[:user]} | " %><a href="/logout">Logout</a>
    </p>
  </div>
  <div class="two-thirds column">
    <h2><%= "Open Pull Requests" %></h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <% orgs.each do |org| %>
      <h3><%= "#{org.login}" %></h3>
      <%
        repos = @client.org_repositories(org[:login])
        pulls = repos.map{ |repo|
          p = @client.pulls("#{org[:login]}/#{repo[:name]}")
          p unless p.empty?
        }.flatten.compact
      %>
      <table class="u-full-width">
        <thead>
          <tr>
            <th colspan="2">Name</th>
            <th>Repo</th>
            <th>Author</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>
          <% pulls.each do |pull| %>
            <tr>
              <td><%= can_merge_it?(@client.issue_comments(pull[:head][:repo][:full_name], pull[:number])) %></td>
              <td>
                <a href="<%= pull[:html_url] %>">
                  <%= pull[:title] %>
                </a>
              </td>
              <td>
                <a href="<%= pull[:head][:repo][:html_url] %>">
                  <%= pull[:head][:repo][:full_name] %>
                </a>
              </td>
              <td>
                <a href="<%= pull[:user][:html_url] %>">
                  <%= pull[:user][:login] %>
                </a>
              </td>
              <td><%= pull[:updated_at].strftime('%d %B %Y') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
