<div class="row">
  <div class="one-third column">
    <p>
      <%= "Logged as #{session[:user]} | " %><a href="/logout">Logout</a>
    </p>
  </div>
  <div class="two-thirds column">
    <a href="/">
      <span class="logo"></span>
    </a>
    <h1 class="logo">Junkie</h1>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <% unless @pulls.empty? %>
    <% @pulls.each do |org, pulls| %>
      <h3><%= "#{org}" %></h3>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>
              <div class="icon-container">
                <span class="icon merge">Merge</span>
                <span class="icon review">Review</span>
                <span class="icon comment">Comment</span>
              </div>
            </th>
            <th><span>Name</span></th>
            <th><span>Repo</span></th>
            <th><span>Author</span></th>
            <th><span>Last Update</span></th>
          </tr>
        </thead>
        <tbody>
          <% pulls.each do |pull| %>
            <tr>
              <td>
                <div class="icon-container">
                  <span class="icon alpha loading" title="Loading...">Loading...</span> 
                  <!-- <span class="icon alpha <%#= icon_merge(pull) %>">Merge</span> -->
                  <!-- <span class="icon alpha <%#= icon_review(pull) %>">Review</span> -->
                  <!-- <span class="icon alpha <%#= icon_comment(pull) %>">Comment</span> -->
                </div>
              </td>
              <td>
                <a href="<%= pull[:html_url] %>">
                  <%= pull[:title] %>
                </a>
              </td>
              <td>
                <a href="<%= "https://github.com/#{pull[:org]}/#{pull[:repo]}" %>">
                  <%= "#{pull[:org]}/#{pull[:repo]}" %>
                </a>
              </td>
              <td>
                <a href="<%= pull[:user][:html_url] %>">
                  <%= pull[:user][:login] %>
                </a>
              </td>
              <td><%= pull[:updated_at].strftime('%d %B %Y') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% else %>
    <table class="u-full-width">
        <thead>
          <tr>
            <th>
              <div class="icon-container">
                <span class="icon merge">Merge</span>
                <span class="icon review">Review</span>
                <span class="icon comment">Comment</span>
              </div>
            </th>
            <th><span>Name</span></th>
            <th><span>Repo</span></th>
            <th><span>Author</span></th>
            <th><span>Last Update</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5">
              <div class="center">
                <p>Nothing to show for now...</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="twelve colunm center">
    <footer>
      <a href="/about">about this app</a>
    </footer>
  </div>
</div>