<%
  begin
    client = Octokit::Client.new(:netrc => true)
  rescue => e
    error_and_back 'GitHub auth error...'
  end

  session[:user] = client.user.login

  pulls = client.pulls('user/repo')
%>



<div class="row">
  <div class="one-third column">
    <a href="/logout">Logout</a>
  </div>
  <div class="two-thirds column">
    <h3><%= "Pulls from #{session[:user]}" %></h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Organization</th>
          <th>Repo</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% pulls.each do |pull| %>
          <tr>
            <td><%= pull[:name] %></td>
            <td><%= pull[:organization] %></td>
            <td><%= pull[:repository] %></td>
            <td><%= pull[:author] %></td>
            <td><%= pull[:updated_at] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

